@font-face {
    font-family: "WorkSans-Light";
    src: url("WorkSans-Light.ttf");
}

* {
    font-family: "WorkSans-Light";
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #ecf0f3;
}

header{
    text-align: center;
    margin: 45px 0 75px 0;
}

header * {
    margin-top: 25px;
}

/* ============================================================================= */
.letter1 {
    font-size: 0;
    animation: 0.1s linear anim-letter;
    animation-fill-mode: forwards;
}

@keyframes anim-letter {
    0% {
        font-size: 0;
    }
    100% {
        font-size: 2em;
    }
}

.letter1:nth-child(1){
    animation-delay: 1.5s;
}
.letter1:nth-child(2){
    animation-delay: 1.65s;
}
.letter1:nth-child(3){
    animation-delay: 1.75s;
}
.letter1:nth-child(4){
    animation-delay: 1.85s;
}
.letter1:nth-child(5){
    animation-delay: 2s;
}
.letter1:nth-child(6){
    animation-delay: 2.15s;
}
.letter1:nth-child(7){
    animation-delay: 2.3s;
}
.letter1:nth-child(8){
    animation-delay: 2.45s;
}
.letter1:nth-child(9){
    animation-delay: 2.60s;
}
.letter1:nth-child(10){
    animation-delay: 2.75s;
}
.letter1:nth-child(11){
    animation-delay: 2.9s;
}

#l-cursor {
    font-size: 2em;
    animation: 0.8s infinite anim-cursor;
}

@keyframes anim-cursor {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* ============================================================================= */


#generator-box {
    border: solid 1px black;
    min-width: 75%;
    display: flex;
    margin-bottom: 150px;
}

#generator-left {
    display: flex;
}

#generator-left h2 {
    margin-top: 0;
}

#generator-left, #generator-right {
    width: calc(50% - 50px);
    border-right: solid 1px black;
}

#form-left, #form-right {
    border-right: solid 1px black;
    width: calc(50% - 50px);
    padding: 25px;
}


#generator-right {
    border-right: none;
    padding: 25px;
}

#generator-right h3 {
    margin: 0;
}

#result-html, #result-css {
    background-color: rgb(56, 56, 56);
    color: aliceblue;
    padding: 10px;
}

#result-box {
    margin: 15px 0;
}

.header-result {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.copy-button {
    cursor: pointer;
}

#section-box-2 {
    padding: 25px;
    border: solid 1px black;
    width: calc(75% - 50px);
    min-height: 250px;
    margin: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-wrap: anywhere;
    height: auto;
}

#header-display {
    margin-bottom: 25px;
}
